*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/Rick-and-Morty-Zoom-Backgrounds-Garage-1.webp');
    color: rgb(168, 17, 160);
    font-size:25px; 
}

header {
    text-align: center;
}

/* Developers listed at the top inside the modal */
#myBtn {
    margin-top: 2%;
  }

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }

  .modal-content {
    background-color: #FEFEFE;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10%;
    width: 80%;
  }

  .close {
    color: #AAAAAA;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* Welcoem title */
.title {
    font-size: 2.5em;
    font-weight: 800;
}

/* Intro to the app section */
  #section-info {
    background-color: rgba(99, 163, 142, 0.81);
    font-size: 1.0em;
    text-align: center;
    color: rgb(32, 32, 73);
    font-weight: bold;
    border: 3px solid black;
    border-radius: 7px;
    padding: 5%;
    margin: 3%;
}

/* Both main API sections containers */
#planet, #rm{
    background-color: bisque;
    border-radius: 7px;
    border:2px solid black;
    padding: 4%;
    margin: 7%;
    margin-bottom: 0%;
    margin-left: 20%;
    margin-right: 20%;
}

/* Information extracted from each API */
#planet-info, #rm-info{
    font-size: 80%;
}

/* Image / Title of NASA API section */
#mseeks {
    display: flex;
    justify-content: center;
}

/* div container with Mr. Meeseeks's and NASA photp */
#mr-id {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Mr. MeeSeeks photo + Astronomy Photo of the Day */
#seeks, #pic{
    height: 500px;
    margin:auto;
    padding: auto;
    border:2px solid black;
    border-radius: 2%;
}

#nasaflex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

/* NASA logo for the bottom of the first API container */
#nasa {
    display: flex;
    height: 100px;
    border: none;
}

#info12{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    flex-direction: row;
    border-radius: 2%;
}

/* Pickle Rick button that recalls the second API and plays 1 of 3 sounds */
#pickle {
    border: none;
    margin-left: 60%;
}

/* Developer names in anchor tag with respective GitHub links attached */
footer {
    color: black;
    font-weight: bold;
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 2%;
}


  /* Media Queries */
  /* Smaller than a big desktop */
@media screen and (max-width: 1590px) {
    #seeks, #pic{
        height: 400px;
    }
}

/* Regular desktop */
@media screen and (max-width: 1290px) {
    #seeks, #pic{
        height: 300px;
    }
}

  /* Smaller than desktop */
  @media screen and (max-width: 1140px){
    .column{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
  }

  /* Smaller than a tablet / mobile size  */
@media screen and (max-width: 767px){
    #planet, #rm{
        margin-left: 10%;
        margin-right: 10%;
    }
    #planet-info, #rm-info{
        font-size: 65%;
    }
  }
  /* extra space for good luck haha */