#planet{
    flex-direction:row ;
    height: 850px;
    width: 750px;
    border:2px solid black ;
    padding: 35px;
    margin-left: 35px;
    margin-top: 35px;
    float: left;
    ;
}
#rm{
    height: 850px;
    width: 750px;
    border:2px solid black ;
    padding: 35px;
    margin-right: 35px;
    margin-top: 35px;
    float: right;
    border: solid black;
    flex-direction: row;
}
#pic{
    height: 300px;
    width: 400px;
    ;
    flex-direction: row;
    margin: auto;
    border: solid black 2px;
}
